.container {
  width: 840px;
  height: 840px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container__reset {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__signup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 30px 75px 30px;
}
.container__logo {
  text-align: center;
}
.container h1 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  margin: 0;
  margin-top: 36px;
}
.container__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px;
  gap: 36px;
  position: relative;
}
.container__input input {
  width: 298px;
  border: 1px solid #C3C3C3;
  background-color: #fff;
  border-radius: 5px;
  padding: 17px 0px 17px 46px;
}
.container__input p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #1A4F8B;
  cursor: pointer;
  margin: 0;
  margin-top: -26px;
  text-align: right;
}
.container__input #icon {
  position: absolute;
  top: 15px;
  left: 17px;
}
.container__input #key {
  position: absolute;
  top: 100px;
  left: 17px;
}
.container__sign {
  min-width: 344px;
  background-color: #1A4F8B;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 148px;
  border: none;
  border-radius: 8px;
  letter-spacing: -0.408px;
  margin: 50px 30px;
}
.container__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B0B0B0;
  margin-bottom: 36px;
}
.container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.container__buttons button {
  padding: 12px 48px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  background-color: #385C8E;
}
.container__buttons #google {
  background-color: #F14436;
}
.container #reset {
  margin-top: 74px;
}
.container #resetbtn {
  margin-top: 36px;
}
.container .container__reset p {
  margin-top: 200px;
  color: #b0b0b0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.container .container__reset p span {
  color: #1A4F8B;
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}